
  .navbar-brand{
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
  }
  #nav-links{
    color: white;
    font-size: medium;
  }
  .navbar-brand span{
    color: #ff0157; 
  }

  
  #nav-links:hover{
    color: #ff0157;
    font-weight: 900;
    font-size: medium;
    transition: 0.2s;
  }
  
